goose.exe
goose
web-service
web-service.exe~

# Go build artifacts
/bin/
/pkg/
/*.exe
/*.out
/*.test

# Dependencies
/vendor/
/go.sum

# Secrets & Configuration
.env
.env.local
/config.yaml
/config.json

# Editor & System Files
/.idea/
/.vscode/
/*.swp

# Logs & Temp Files
/logs/
/*.log
/tmp/
/*.tmp
